/* Overview styling */


.overview {
  display: flex;
  flex-direction: row;
  color: rgb(82, 82, 82);
}

.gallery-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 600px;
}


.main-img {
  width: 800px;
  height: 600px;
  object-fit: cover;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
    background-color: rgb(176 210 219);
}


.product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px
}

.style-other-imgs {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px;
  scroll-snap-align: end;
}

.photo-container {

  display: flex;
  flex-direction: column;
  overflow:scroll;
  scroll-snap-type: y mandatory;
  object-fit: contain;
  max-height: 470px;

}
.photo-container::-webkit-scrollbar {
  display: none;
}


.modalBackground {
  position: fixed;
  width: 100vw;
  height: 100vw;
  left: 0;
  top: 0;
  background: rgba(44, 43, 43, 0.7);
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modalContainer {
  height: min-content;
  width: max-content;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  max-height: 80vw;

}

.expanded-photo-gallery {
  display: flex;
  flex-direction: row;

}

.main-img-container {
  display: flex;
  flex-direction: column;
  width: 435px;
  max-height: 80%;
}

.main-img-and-arrows {
  display: flex;
  flex-direction: row;
}

.expanded-img {
  max-width: 90%;
}

.expanded-image:hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: auto;
  -webkit-transform:scale(3);
  -moz-transform:scale(3);
  -ms-transform:scale(3);
  -o-transform:scale(3);
   transform:scale(3);
}

.x {
  align-self: flex-start;
  justify-self: flex-start;
}

.style-other-imgs-selected {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 5px solid #555;
  scroll-snap-align: end;
}

.price-container {
  display: flex;
  flex-direction: row;
}

.discounted-price {
  color: red;
  margin-right: 5%;
}

.selected-style-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 5px solid #555;
  border-radius: 50%;
}

.style_button {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
  border-radius: 50%;
}

.style_thumbnail {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 5px solid transparent;
  transition: border-color 0.3s ease-in-out;
  border-radius: 50%;
}

.style_thumbnail.selected {
  border: 5px solid #555;
}

.product_overview_style_selector {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  margin: 10px;
  box-sizing: border-box;
}

.addto-outfit {

  width: fit-content;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  margin-top: 9px;
}

.addto-outfit:hover {
  background-color: #555555;
  color: white;
}

.scroll-review {

  color: black;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px
}

.scroll-review:hover {
  color: #555555;
  /* color: white; */
}

.add-to-cart {
  margin-top: 10%;
}

.selected-style-name {
  margin-bottom: 10%;
}

.arrow {
  z-index: 2;
}

.sidebar {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  max-width: fit-content;
  max-height: -webkit-fill-available;
  justify-content: space-around;
  margin-top: 7%;
  }

.arrow-up {
  align-self: center;
}
.arrow-down {
  align-self: center;
}

.new-right {
  box-sizing: border-box;
  padding-left:30px
}

.description {
  display: flex;
  flex-wrap: wrap;
}

.slogan-features {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px;
  gap: 20px;
  align-items: center;
}


.features {
  border-left: 2px solid rgb(0, 0, 0);
  word-wrap: break-word;
}
